.idea/

*.class
*.log
*.ipr
*.iws
*.iml
**/*.iml
*.swp

.DS_Store
._.DS_Store

**/lib/*
*.classpath
*.project
**/*.settings
*/.project
*/.settings
*/.classpath
*/.cache
*/.target

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

logs/
sbt/
tmp/
.bsp/
null/

